<!DOCTYPE html>
<html lang="utf-8">
<head>
<meta charset="UTF-8">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="">

	<p>
		반복문은 ng-repeat으로 선언하고 사용한다. <br /> ng-init은 model을 선언하거나 할때 사용된다.
	</p>

	<div ng-app="" ng-init="names=['Jani','Hege','Kai']">
		<ul>
			<li ng-repeat="x in names">{{ x }}</li>
		</ul>
	</div>
	<p> html 복제. 앞서 설명한 mvvn으로 동적 ui를 구성한다는 것이 이런 이유임.</p>
	<div 
		ng-init="names=[
		{name:'Jani',country:'Norway'},
		{name:'Hege',country:'Sweden'},
		{name:'Kai',country:'Denmark'}]">

		<ul>
			<li ng-repeat="x	in names">{{ x.name + ', ' + x.country }}</li>
		</ul>
</body>
</html>